container_commands:
  001-enableroot:
    command: echo Defaults:root \!requiretty >> /etc/sudoers #disables error related to needing a tty for sudo, allows running without cli
  002-getVars:
    command: /opt/elasticbeanstalk/bin/get-config environment > jsonEnv #dump variables so we can find queue names to start in php script
  003-parseConfig:
    command: php .ebextensions/parseConfig.php #write supervisor program config to default conf
  004-makeExecutable:
    command: chmod +x .ebextensions/workerDeploy.sh
  005-workerDeploy:
    command: .ebextensions/workerDeploy.sh #check for env variable and install/start supervisord